@import 'normalize.css'; /* reset CSS */

body {
    background-color: gainsboro;
}


.navbar {
    background-color: aqua;
    width: 100%;
    height: 40px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}