@import 'normalize.css';
@import 'respon.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Shadows+Into+Light&display=swap');

body, html {
    height: 100%;
}
  
.bg {
/* The image used */
background-image: url("/assets/images/bg.jpg");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

body {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #f4f9ff;
    margin: 0;
    font-family: 'Roboto', "Sans serif";
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;


}


/* MENU */
.menu {
    display: none;
}

/* PARTE INICIAL: HEADER, TEXTO INICIAL */

 ul {
    margin: auto;
    padding: 0;
    display: flex;
    list-style: none;
}

ul li {
    margin: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
}
nav ul li:hover{
    color: #fff;
    background-color: #333;
}
.bloco {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.bloco aside {
    margin: 0rem 2vw;
    display: flex;
    flex-direction: column;
    color:#f8f8ff;

}

.bloco aside article {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: bolder;
    font-size: 4.75rem;
    text-shadow: 2px 2px 4px #232323;
}

.bloco aside a {
    font-size: 2rem;
    color: #fd624c;
    font-family: 'Arial', serif;
}

.bloco #logo-bloco {
    width: 10%;
    min-width: 250px;
}

/* SEGUNDA PARTE */
#linha-laranja {
    height: 3.5vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fd624c;
    margin-bottom: 30px;

}

.container h1 {

    font-size: 2rem;

}

.container p {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 2.5rem;
    width: 70%;
    text-align: center;
}

article {
    display: flex;

}

article .oportunidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem;
    font-size: 1.2rem;

}

article .oportunidade div {
    height: 60px;
    width: 60px;
    background-color: #fd624c;
    border-radius: 30px;

}

article .oportunidade h4 {
    text-align: center;
    width: 30vw;
}

/* PARTE DOS DEPOIMENTOS */
#depoimentos {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#depoimentos iframe {
    width: 40vw;
    height: 40vh;

}

#depoimentos strong {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    display: block;
}

/* PARTE DE NOTICIAS */
#noticias {
    display: none;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    font-size: 1rem;
}

#noticias button {
    padding: 1rem;
    height: 7.04vh;
    width: 20vw;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    background-color: #fd624c;

}

/* PARTE DO MEMBROS E PROJETOS */

.links-home {
    display: flex;
    flex-wrap: wrap;
    max-width: 1150px;
    margin: auto;
    justify-content: center;
}


.membros-links {
    margin-top: 15px;
    text-decoration: none;
    color: #141414;
    font-size: 2.2em;
    transition: 0.4s;
}

.membro-home {
    width: 270px;
    height: 200px;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projeto-home {
    width: 450px;
    height: 250px;
    display: flex;
    margin: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projeto-home img {
    height: 200px;
}

.membro-home img {
    width: 150px;
    border-radius: 50%;
}

.membros-links:hover {
    color: #fd624c;
}


.projetos-links {
    text-decoration: none;
    color: #141414;
    font-size: 2.2em;
    transition: 0.4s;
    margin: 20px 0px;
}

.projetos-links:hover {
    color: #fd624c;

}


/* PARTE DO FOOTER */
footer {
    width: 100%;
    background-color: rgb(46, 72, 87);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    flex-wrap: wrap;
    margin: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer div a {
    min-width: 180px;
    padding: 0.5rem;
    text-align: start;
    width: 36vw;
    font-size: 1.1rem;
    color: rgb(241, 253, 254);
}

footer div #footer-img {
    width: 90px;
}

footer article {
    text-align: center;
    padding: 0.8rem 0rem;
    font-family: 'Roboto', 'sanserif';
    color: hsla(0, 0%, 100%, .6);
    font-size: 0.9rem;

}
#git-logo {
    width: 2.7vw;
    min-width: 30px;
    margin-bottom: 20px;

}

/* HEADER MEMBROS E PROJETOS */ 

#header {
    height: 100px;
    background-color: rgb(46, 72, 87);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header img {
    width: 50px;
    height: 50px;
}

#link-home {
    align-items: center;
    display: flex;
    margin: 5%;
}

#link-home a {
    margin-left: 15px;
    font-size: 2.5em;
    text-decoration: none;
    color: #e4e4e4;
}

#header nav {
    margin-right: 10%;
}

.link-header {
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: #e4e4e4;
    transition: 0.4s;
    font-size: 2.3em;
    margin: 20px;
    padding: 5px 10px;
    font-weight: 500;
}

.link-header:hover {
    color: #fd624c;
    transition: 0.4s;
}

/* parte de membros.md */
#members{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
#members img{
    width: 30vw;
    min-width: 300px;
    border-radius: 50%;

}
#members p{
    text-align: justify;
    line-height: 2.5rem;
    color: #232323;
}

/* Parte dos projetos.md */
#projetos{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    align-items: center;
    font-size: 1.5rem;
}

#projetos p{
    text-align: justify;
    color: #232323;
}

#projetos a{
    text-decoration: none;
    color: #fd624c;
    opacity: 70%;
    transition: 0.3s;
}

#projetos a:hover{
    opacity: 100% ;

}
